.root {
	-fx-background-color: #A1B56C;
	-fx-font-size: 11 pt;
}

#ingredientsTable .table-column {
	-fx-text-alignment: CENTER;
}

#ingredientsTable .table-cell {
	-fx-alignment: CENTER;
}
.button {
	-fx-background-color: #DC9656;
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 6;
	-fx-font-weight: bold;
}
.label {
	-fx-text-fill: rgb(0,0,0)
	
}
