.root {
	-fx-background-color: #F8F8F8;
	-fx-font-size: 11 pt;
	-fx-accent: #ff9900;
	-fx-focus-color: #ff9900;
}

#ingredientsTable .table-column {
	-fx-text-alignment: CENTER;
}

#ingredientsTable .table-cell {
	-fx-alignment: CENTER;
}
.button {
	-fx-background-color: #ff9900;
	-fx-text-fill: rgb(0,0,0);
	-fx-background-radius: 6;
}
.label {
	-fx-text-fill: rgb(0,0,0);
}

